
 h1 {
   display: inline-block;
   position: relative;
   /* color: #0087ca; */
   text-align: center;
   /* width: 100%; */
   /* border: 3px solid; */
   padding-bottom: 10px;
   margin: 40px 20%;
 }
 
 h1:after {
    /* margin: 2px; */
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 3px;
   bottom: 0;
   left: 0;
   background-color: gold;
   transform-origin: center;
   transition: transform 0.25s ease-out;
 }
 
 h1:hover:after {
   transform: scaleX(1);
   transform-origin: center;
 }